* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.square {
    width: 25px;
    height: 25px;
    border: 2px solid black;
}

.winner-display {
    display: none;
    width: 100px;
    height: 100px;
    background-color: aqua;
}