* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/*FIRST PAGE*/
.start-game {
    width: 80vw;
    /*display: none;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-game h1 {
    margin-bottom: 30px;
    color: #BB86FC;
    font-family: 'Open Sans', sans-serif;
    font-size: 6em;
}

.start-game h2 {
    margin-bottom: 20px;
    color: #03DAC6;
    font-family: 'Open Sans', sans-serif;
    font-size: 3em;
}

.start-game button {
    width: 150px;
    background-color: #000000;
    border: 3px solid #03DAC6;
    border-radius: 0.5em;
    padding: 0.25em;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
}

.start-game button:hover {
    background-color: #03DAC6;
    color: #000000;
}

#against-player-btn {
    margin-right: 20px;
}

/*GAME PAGE*/
.game-container {
    display: none;
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-container h1 {
    margin-bottom: 40px;
    color: #BB86FC;
    font-family: 'Open Sans', sans-serif;
    font-size: 4em;
}

.gameboard {
    width: 400px;
    height: 400px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.square {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: font-size 0.5s;
}

.square-animation {
    font-size: 5em;
}

.winner-display {
    height: 20px;
    margin-bottom: 40px;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
}

.game-container button {
    width: 150px;
    background-color: #000000;
    border: 3px solid #03DAC6;
    border-radius: 0.5em;
    padding: 0.25em;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
}

.game-container button:hover {
    background-color: #03DAC6;
    color: #000000;
}

#back-btn {
    margin-right: 20px;
}

/*BORDERS*/
[id="0,0"], [id="1,0"], [id="2,0"], [id="0,1"], [id="1,1"], [id="2,1"] {
    border-right: 10px solid #03DAC6;
}

[id="0,0"], [id="0,1"], [id="0,2"], [id="1,0"], [id="1,1"], [id="1,2"] {
    border-bottom: 10px solid #03DAC6;
}

/*RESPONSIVITY*/
@media (max-width: 650px) {
    .start-game h1 {
        font-size: 12vw;
    }
    
    .start-game h2 {
        margin-bottom: 30px;
        font-size: 7vw;
    }

    .start-game div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .start-game button {
        width: 25vw;
        font-size: 4vw;
    }
    
    #against-player-btn {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

@media (max-width: 550px) {    
    .game-container h1 {
        font-size: 12vw;
    }
    
    .gameboard {
        width: 70vw;
        height: 70vw;
    }
    
    .square-animation {
        font-size: 12vw;
    }
    
    .winner-display {
        height: 6vw;
        font-size: 5vw;
    }
    
    .game-container button {
        width: 25vw;
        font-size: 4vw;
    }
    
    #back-btn {
        margin-right: 20px;
    }
    
    /*BORDERS*/
    [id="0,0"], [id="1,0"], [id="2,0"], [id="0,1"], [id="1,1"], [id="2,1"] {
        border-right: 1.2vw solid #03DAC6;
    }
    
    [id="0,0"], [id="0,1"], [id="0,2"], [id="1,0"], [id="1,1"], [id="1,2"] {
        border-bottom: 1.2vw solid #03DAC6;
    }
}